.espaco-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.espaco-label {
  display: block;
  text-align: left;
  margin: 5px;
}

input {
  display: block;
}