.msg-verde {
  background-color: green;
}

.msg-vermelho {
  background-color: red;
}

.fade-in {
  animation: fadeIn linear 1s;
}

.fade-out {
  animation: fadeOut linear 1s;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  
  100% {
    visibility: hidden;
    opacity: 0;
  }
}