.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-half {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  padding: 20px;
  text-align: left;
}

.cliente-label {
  display: block;
  text-align: left;
  margin: 5px;
}
.form-botao {
  width: 100%;
}

.form-botao input {
  margin: 10px auto;
}

.button {
  background-color: #1890ff;
  border-color: #1890ff;
  color: #fff;
  border-bottom: #1890ff;
  border-right: #1890ff;
  border-radius: 3px;
}

.button:hover {
  background-color: #479ae7;
  border-color: #1890ff;
}