.button {
  padding: 5px;
  display: block;
  text-decoration: none;
  border: solid 1px #999;
  border-radius: 5px;
}

.button:hover {
  cursor: pointer;
}

.verde {
  background-color: #77b977;
  border-color: #77b977;
}

.vermelho {
  background-color: #dd8484;
  border-color: #dd8484;
}

.azul {
  background-color: #4b4bf3;
  border-color: #4b4bf3;
}

.amarelo {
  background-color: #e2e2a5;
  border-color: #e2e2a5;
}