.content {
  width: 100%;
  height: 80%;
}

.content-wrapper {
  background-color: rgba(214, 214, 214, 0.7);
  margin: 2%;
  min-width: 96%;
  min-height: 96%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  border: solid 1px #bbb;
  border-radius: 5px;
}