/* Button */

.button {
  display: block;
  padding: 3px 5px;
  border: none;
  border-radius: 3px;
  font-size: 7px;
}

.button-sorte,
.button-prev,
.button-next {
  background-color: #999;
  border: 1px solid #5c5454;
  border-radius: 2px;
  box-shadow: 1px -2px 2px 2px inset rgba(93, 70, 70, 0.4);
  color: #333;
}

.button-prev,
.button-next {
  min-height: 50%;
  min-width: 15px;
}

.button-sorte:hover,
.button-prev:hover,
.button-next:hover {
  background-color: #888;
  color: #555;
}

.button-sorte:active,
.button-prev:active,
.button-next:active {
  box-shadow: 1px 1px 2px 2px inset rgba(93, 70, 70, 0.4);
}
