/* General  */

body {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
  text-align: center;
  font-size: 0.5rem;
}

.text-center {
  text-align: center;
}

.hide {
  display: none;
}

label {
  display: block;
}

@media (max-width: 719px) {
  .hide-on-mobile {
    display: none;
  }
}
@media (min-width: 720px) and (max-width: 1023px) {
  .hide-on-tablet {
    display: none;
  }
}
@media (min-width: 1024px) {
  .hide-on-desktop {
    display: none;
  }
}
