/* Inputs */

.input-wrapper {
  max-width: 60%;
}

.field {
  display: block;
  padding: 2px 2px;
  margin-bottom: 5px;
  border: 1px solid #bbb;
  border-radius: 3px;
  box-sizing: border-box;
  outline: none;
  color: #000;
  font-size: 8px;
}
