.pokedex {
  margin: auto;
  display: flex;
  min-height: 40vw;
  justify-content: center;
  color: #000;
  font-size: 8px;
}

.left-page,
.right-page {
  padding: 5px;
  width: 30vw;
  max-width: 50%;
  text-align: left;
}

.left-page,
.right-page,
.middle-pokedex-top,
.middle-pokedex-middle,
.middle-pokedex-bottom {
  border: 2px solid #5c4545;
  background-color: rgb(197, 71, 71);
  border-radius: 3px;
}

.middle-pokedex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 0.8%;
  margin-right: 4px;
}

.middle-pokedex-top,
.middle-pokedex-middle,
.middle-pokedex-bottom {
  width: 100%;
  border-radius: 5px;
}

.middle-pokedex-top,
.middle-pokedex-bottom {
  height: 10%;
}

.middle-pokedex-middle {
  height: 80%;
}

.atributos {
  padding: 5px;
  font-size: 8px;
}

.screen-wrapper {
  height: 50%;
  padding: 5px 5px 10px;
  background-color: rgb(236, 239, 241);
}

.left-screen,
.right-screen {
  min-height: 100%;
}

.screen {
  background: linear-gradient(135deg, #74b9da 0%, #a6d9e2 80%);
  border: 1px solid #5c5454;
}

.border-screen {
  border: 1px solid #5c5454;
  border-radius: 3px;
  box-shadow: -1px 1px 5px 3px inset rgba(93, 70, 70, 0.4);
}

.sprite {
  display: block;
  margin: auto;
}

.name-wrapper {
  margin: 5px 0 5px;
  padding: 2px;
  min-height: 10px;
  background-color: #a4c3a4;
}

.bottom-left {
  display: flex;
  justify-content: space-between;
}

.nav-container {
  display: inline-block;
  margin: 0 5px 0;
}

h2 {
  margin: 2px;
  font-size: 12px;
}

.sub-lista {
  padding-left: 10px;
}
