.contratacao-tela {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.contratacao-escolha {
  display: flex;
  padding: 10px;
  justify-content: center;
}

.escolha-espaco,
.escolha-pacote {
  background-color: aliceblue;
  padding: 10px;
  margin: 20px;
  height: 50px;
  cursor: pointer;
}

.title {
  text-align: center;
}