.infinite-container {
  height: 75vh;
  width: 100%;
  padding: 8px 24px;
  overflow: auto;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  text-align: center;
}

li.ant-list-item {
  margin: 3px;
  cursor: pointer;
}

.infinite-container::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

.infinite-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}
 
.infinite-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(linear,
                     left bottom,
                     left top,
                     color-stop(0.44, rgb(122,153,217)),
                     color-stop(0.72, rgb(73,125,189)),
                     color-stop(0.86, rgb(28,58,148)))
}

@media ( max-width: 769px ) {
  .infinite-container::-webkit-scrollbar {
    display: none;
  }
}