.ant-layout > .ant-layout-sider {
  background: rgba(6, 17, 31, 0.95);
  color: #222;
  /* z-index: 2; */
  box-shadow: inset 0 1px 0 hsl(213, 33%, 44%),
    2px 0 0 hsl(213, 33%, 44%),
    3px 0 0 hsl(213, 33%, 46%),
    4px 0 0 hsl(213, 33%, 48%),
    5px 0 0 hsl(213, 33%, 50%),
    6px 0 0 hsl(213, 33%, 52%),
    7px 0 0 hsl(213, 33%, 54%) !important;
  height: 100vh;
}

.ant-layout > .ant-layout-sider::before {
  background: url('../../resources/header-back.png') repeat center top / cover;
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  opacity: 0.6
}

.ant-layout-sider > .ant-layout-sider-zero-width-trigger {
  background-color: #fff;
  color: #333;
  display: block;
}

@media ( min-width: 769px ) {
  .ant-layout-sider > .ant-layout-sider-zero-width-trigger {
    display: none;
  }
}