.episodio-card {
  display: inline-block;
  padding: 10px;
  background-color: #ddd;
  min-width: 250px;
  border: solid 1px #333;
  border-radius: 5px;
  margin: 5px ;
  text-align: center;
  text-decoration: none;
  color: black;
}

.ep-desc {
  display: block;
}
