.item-meta {
  width: 50%;
  padding: 20px;
  text-align: left;
}

.pacotes-espacos-wrapper{ 
  display: flex;
  flex-direction: column;
  overflow: auto;
  float: right;
  text-align: left;
}

.pacotes-desc {
  display: block;
}