.ant-layout .ant-layout-header {
  background: rgba(24, 48, 78, 0.9);
  color: #222;
  padding: 0 40px;
  z-index: 2;
  box-shadow: inset 0 1px 0 hsl(213, 53%, 40%),
  0 2px 0 hsl(213, 53%, 42%),
  0 3px 0 hsl(213, 53%, 44%),
  0 4px 0 hsl(213, 53%, 46%),
  0 5px 0 hsl(213, 53%, 48%),
  0 6px 0 hsl(213, 53%, 50%),
  0 7px 0 hsl(213, 53%, 52%) !important;
}

.ant-layout .ant-layout-header::before {
  background: url('../../resources/header-back.png') repeat center top / cover;
  content: '';
  width: 100%;
  height: 64px;
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0.2;
}


.home-link {
  font-size: 1.5rem;
  color: rgb(215, 233, 233);
  font-weight: bold;
}

.header-buttons-wrapper {
  padding: 5px 0;
  float:right;
  height: 95%;
}

.button-header {
  padding: 10px;
  margin: 0 5px;
  text-align: center;
  line-height: normal;
  cursor: pointer;
  color: #333;
}