.pacote-form {
  min-width: 100%;
}

.form-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.form-pacote {
  margin: 5px;
  width: 40%;
}

.espaco-desc {
  padding: 3px;
  margin-left: 5px;
  text-align: left;
  cursor: pointer;
}

.select-espacos-wrapper {
  margin: 5px;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.espacos-selecionados {
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-pacote {
  margin: auto;
}


.input-pacote-qtd {
  width: 3rem;
  display: inline-block;
}