.page-aval-wrapper {
  text-align: center;
}


.container-lista-avaliacoes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 25px;
  background-color: #373e4b;
}
